<div class="row game-page-container">
  <div class="col-5 offset-1 text-center games-container board-image">
    <h3>Currently available games !</h3>
    <br />
    <div class="row">
      <% @pending_games.recent.each do |game| %>
        <div class="col-4 offset-1 text-center game-card">
          Game #<%= game.id %>
          Current status: <%= game.status %>
          <%= button_to "Join Game", game_path(game.id), method: :put, class: 'btn btn-primary btn-sm' %>
        </div>
      <% end %>

    </div>

  </div>
  <div class="col-4 text-center player-panel">
    <h1> Welcome, <%= current_user.name %></h1>
    <br />
    <%= link_to "Create a game", games_path(user_id: :user_id), class: 'btn btn-primary game-button', method: :post %>
    <br />
    <% if @random_game %>
      <%= button_to "Join a Random Game", game_path(@random_game), method: :put, class: 'btn btn-primary game-button' %>
    <% end %>
    <br />
    <%= link_to 'Sign Out', destroy_user_session_path, class: 'btn btn-warning game-button', method: :delete %>
  </div>
</div>
