<div class="board">
  <% 7.downto(0) do |y| %>
    <div class="row">
      <div class="label"><%= "#{y + 1}" %></div>
      <% 0.upto(7) do |x| %>
        <% piece = @chess_pieces.where(x: x, y: y).first %>
        <% if @selected_piece.nil? %>
          <% if piece.nil? %>
            <div class="cell"></div>
          <% else %>
            <div class="cell">
              <%= link_to select_piece_path(@game, piece) do %>
                <%= image_tag "#{piece.type}_#{piece.color}.png" %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <% if @selected_piece == piece %>
            <div class="cell selected-square">
              <%= image_tag "#{piece.type}_#{piece.color}.png" %>
            </div>
          <% elsif piece.nil? %>
            <div class="cell">
               <%= link_to 'target', move_to_path(@selected_piece, x, y), method: :put %>
            </div>
          <% else %>
            <div class="cell">
              <%= link_to move_to_path(@selected_piece, x, y), method: :put do %>
                <%= image_tag "#{piece.type}_#{piece.color}.png" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="last-label">*</div>
    <div class="column-label">A</div>
    <div class="column-label">B</div>
    <div class="column-label">C</div>
    <div class="column-label">D</div>
    <div class="column-label">E</div>
    <div class="column-label">F</div>
    <div class="column-label">G</div>
    <div class="column-label">H</div>
  </div>
</div>
